.button {
    color:#BAC1CC;

    font-family: "Sofia Sans", sans-serif;
    font-size:14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0.05em;

    padding: 12px;

    width: 240px;

    background-color: #34C4F61A;

    text-transform: uppercase;
}

